<nav class="navbar">
  <div class="nav">
    {{ if .Site.Params.logo }}
        <a href="{{ "" | absLangURL }}" class="nav-logo">
        <img
          src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}"
          width="{{ .Site.Params.logo.width }}"
          height="{{ .Site.Params.logo.height }}"
          alt="{{ .Site.Params.logo.alt }}"
        />
        </a>
    {{ end }}

    <ul class="nav-links">
      {{ range .Site.Params.nav }}
        {{ if .icon }}
          <li>
            <a href="{{ .url | relLangURL }}" title="{{ .name }}"
              ><em class="{{ .icon }}"></em
            ></a>
          </li>
          {{ else }}
          <li>
            <a href="{{ .url | relLangURL }}" title="{{ .name }}">{{ .name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</nav>
